<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adrianodigiovanni.dailywifi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.adrianodigiovanni.dailywifi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEditAccountActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme" >
        </activity>

        <provider
            android:name=".AccountsProvider"
            android:authorities="com.adrianodigiovanni.dailywifi.provider" >
        </provider>

        <receiver android:name=".WifiStateChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" >
                </action>
            </intent-filter>
        </receiver>
        
        <service android:name=".WifiAuthService" />
    </application>

</manifest>